@using BookSale.Managament.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light container-xxl bg-lighter my-3" style="padding: 0;">
    <div class="container-fluid">
        <a class="app-brand-link" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="app-brand-logo demo me-1">
                <span style="color: var(--bs-primary)">
                    <img src="~/images/shop-logo.png" />
                </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Labati</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-3">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-ex-3">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link px-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="nav-item nav-link px-2" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
            </div>

            <a asp-controller="cart" asp-action="index" class="text-primary waves-effect waves-light">
                <img src="~/images/cart-icon.png" />
            </a>
            <span class="badge badge-center rounded-pill bg-label-primary cart-number">@(ViewData["NumberCart"] is null ? 0 : Convert.ToInt32(ViewData["NumberCart"]))</span>

            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav flex-row align-items-center px-3">
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow p-0"
                           href="javascript:void(0);"
                           data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <img src="~/images/user/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                            <li>
                                <a class="dropdown-item pb-2 mb-1" href="#">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2 pe-1">
                                            <div class="avatar avatar-online">
                                                <img src="~/images/user/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" alt class="w-px-40 h-auto rounded-circle" />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">@User.Identity.Name</h6>
                                            <small class="text-muted">@User.FindFirst(ClaimTypes.Email)?.Value</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider my-1"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-cog-outline me-1 mdi-20px"></i>
                                    <span class="align-middle">Settings</span>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider my-1"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="authentication" asp-action="logout">
                                    <i class="mdi mdi-power me-1 mdi-20px"></i>
                                    <span class="align-middle">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <button class="btn btn-outline-primary waves-effect mx-1" asp-area="Identity" asp-page="/Account/Register" type="button">Register</button>
                <button class="btn btn-outline-primary waves-effect mx-1" asp-area="Identity" asp-page="/Account/Login" type="button">Login</button>
            }
        </div>
    </div>
</nav>