@using BookSale.Managament.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light container-xxl bg-lighter my-3" style="padding: 0;">
    <div class="container-fluid">
        <a class="app-brand-link" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="app-brand-logo demo me-1">
                <span style="color: var(--bs-primary)">
                    <img src="~/images/shop-logo.png" />
                </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Labati</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-3">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-ex-3">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link px-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="nav-item nav-link px-2" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
            </div>

            <a asp-controller="cart" asp-action="index" class="text-primary waves-effect waves-light">
                <img src="~/images/cart-icon.png" />
            </a>
            <span class="badge badge-center rounded-pill bg-label-primary cart-number">@(ViewData["NumberCart"] is null ? 0 : Convert.ToInt32(ViewData["NumberCart"]))</span>

            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav flex-row align-items-center px-3">
                    <li class="px-3">
                        <h6 class="mb-0">Hello @User.Identity.Name</h6>
                    </li>
                    <li>
                        <a asp-controller="login" asp-action="logout">
                                <h6  class="mb-0">Log out</h6>
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <button class="btn btn-outline-primary waves-effect mx-1" asp-area="Identity" asp-page="/Account/Register" type="button">Register</button>
                <button class="btn btn-outline-primary waves-effect mx-1" href="/login" type="button">Login</button>
            }
        </div>
    </div>
</nav>