@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var breadscumb = ViewData["Breadscumb"] as BreadscumbModel;

    if (!string.IsNullOrEmpty(breadscumb.Path))
    {
        var segments = breadscumb.Path.Split('/');

        <h4 class="py-3 mb-4">
            @{
                for (int i = 0; i < segments.Count(); i++)
                {
                    if (i == segments.Count() - 1)
                    {
                        @segments[i]
                    }
                    else
                    {
                        <span class="text-muted fw-light">@segments[i]/</span>
                    }
                }
            }
        </h4>
    }

    
}
