@{
    ViewData["Title"] = "Account List";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}

<link href="~/admin/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/responsive-3.0.0/css/responsive.datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/scroller-2.4.1/css/scroller.datatables.min.css" rel="stylesheet" />
<link href="~/admin/assets/vendor/fonts/materialdesignicons.css" rel="stylesheet" />

<div class="card">
    <h5 class="card-header">Account list</h5>
    <div class="m-2">
        <table id="tbl-account" class="table dataTable" style="width:100%">
            <thead>
                <tr>
                    <th data-dt-order="disable"><a href="/admin/account/savedata"><span class="mdi mdi-account-plus"></span></a></th>
                    <th>user name</th>
                    <th>full name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>isActive</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/admin/dist/datatables/datatables.min.js"></script>
    <script src="~/admin/dist/datatables/scroller-2.4.1/js/scroller.datatables.min.js"></script>
    <script src="~/admin/dist/datatables/responsive-3.0.0/js/responsive.datatables.min.js"></script>
    <script src="~/js/registerdatatable.js"></script>
    <script src="~/admin/components/account.js"></script>

}


