
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}

<link href="~/admin/assets/vendor/fonts/materialdesignicons.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/datatables-2.0.3/css/datatables.bootstrap.min.css" rel="stylesheet" />

<div class="card">
    <h5 class="card-header">Account list</h5>
    <div class="m-2">
        <table id="tbl-order" class="table dataTable" style="width:100%">
            <thead>
                <tr>
                    <th data-dt-order="disable"><a href="/admin/order/savedata"><span class="mdi mdi-plus-circle ri-24px"></span></a></th>
                    <th>Fullname</th>
                    <th>Code</th>
                    <th>Payment Method</th>
                    <th>Created on</th>
                    <th>Total price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/admin/dist/datatables/datatables.min.js"></script>
    <script src="~/js/registerdatatable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/components/order.js"></script>
}
