@{
    ViewData["Title"] = "Book List";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}
<link href="~/admin/assets/vendor/fonts/materialdesignicons.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/datatables/datatables-2.0.3/css/datatables.bootstrap.min.css" rel="stylesheet" />

<div class="card">
    <h5 class="card-header">Book list</h5>
    <div class="m-2">
        <table id="tbl-book" class="table dataTable" style="width:100%">
            <thead>
                <tr>
                    <th data-dt-order="disable"><a href="/admin/book/savedata" id="btn-add"><span class="mdi mdi-plus-circle ri-24px"></span></a></th>
                    <th>Genre</th>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>Publisher</th>
                    <th>Author</th>
                    <th>Create On</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/admin/dist/datatables/datatables.min.js"></script>
    <script src="~/js/registerdatatable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/components/book.js"></script>

    <script src="~/lib/moment.js"></script>
}